<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.userManege.CollectMapper">

<resultMap id="collectMap" type="com.cskaoyan.bean.Collect">
    <result column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="value_id" property="valueId"/>
    <result column="type" property="type"/>
    <result column="add_time" property="addTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="deleted" property="deleted"/>
    <association property="user" select="com.cskaoyan.mapper.userManege.UserMapper.queryUserById" column="user_id"/>
</resultMap>

    <sql id="baseColumn">
      select
          id,
          user_id,
          value_id,
          type,
          add_time,
          update_time,
          deleted
      from cskaoyan_mall_collect
    </sql>


<select id="queryCollect" resultMap="collectMap">
    <include refid="baseColumn"/>
</select>

<select id="queryCollectByUserIdAndValueID" resultMap="collectMap">
    <include refid="baseColumn"/>
  where user_id=#{userId} and value_id=#{valueId}
</select>

<select id="queryCollectByValueID" resultMap="collectMap">
    <include refid="baseColumn"/>
  where value_id=#{valueId}
</select>


<select id="queryCollectByUserId" resultMap="collectMap">
    <include refid="baseColumn"/>
  where user_id=#{userId}
</select>

</mapper>