<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.wxbrandmapper.WxBrandMapper">

    <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Brand">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="desc" column="desc"/>
        <result property="picUrl" column="pic_url"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="floorPrice" column="floor_price"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
        select
        id,
        name,
        desc,
        pic_url,
        sort_order,
        floor_price,
        add_time,
        update_time,
        deleted
        from
        cskaoyan_mall_brand
        limit #{limit} offset #{offset}
    </select>

    <select id="getTotal" resultType="_int">
        select
        count(*)
        from
        cskaoyan_mall_brand
    </select>

</mapper>