<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.SystemMapper">
    <resultMap id="adminSearchMap" type="com.cskaoyan.bean.Admin">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>
        <result column="role_ids" property="roleIds" typeHandler="com.cskaoyan.typeHandler.IntArrayTypeHandler"/>
    </resultMap>
 <select id="adminsSearch" resultMap="adminSearchMap"   >
SELECT
id,
username,
avatar,
role_ids
from
cskaoyan_mall_admin
 </select>

    <select id="adminsSearchByname" resultMap="adminSearchMap"   >
SELECT
id,
username,
avatar,
role_ids
from
cskaoyan_mall_admin
where
username LIKE CONCAT(CONCAT('%', #{username}), '%')
 </select>
  <insert id="asminssInsert" >
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
          SELECT LAST_INSERT_ID()
      </selectKey>
      insert
cskaoyan_mall_admin
(username,password,last_login_ip,last_login_time,avatar,add_time,update_time,deleted,role_ids)
values(#{username},#{password},#{lastLoginIp},#{lastLoginTime},#{avatar},#{addTime},#{updateTime},#{deleted},#{rolesIds})
  </insert>
<update id="asminssUpdate">
  update
  cskaoyan_mall_admin
  set
  username=#{username},
  password=#{password} ,
  last_login_ip=#{lastLoginIp},
  last_login_time=#{lastLoginTime},
  avatar=#{avatar},
  add_time=#{addTime},
  update_time=#{updateTime},
  deleted=#{deleted},
  role_ids=#{rolesIds}
where id=#{id}
</update>
<delete id="adminssDelete">
      delete
    from
    cskaoyan_mall_admin
    where id=#{id}
</delete>
<select id="rolesSearch" resultType="com.cskaoyan.bean.Role">
 SELECT
id,
`name`,
`desc`,
enabled,
add_time as addTime,
update_time as updateTime,
deleted
from
cskaoyan_mall_role
</select>
    <select id="rolesSearchByname" resultType="com.cskaoyan.bean.Role">
         SELECT
id,
`name`,
`desc`,
enabled,
add_time as addTime,
update_time as updateTime,
deleted
from
cskaoyan_mall_role
where
name LIKE CONCAT(CONCAT('%', #{name}), '%')
    </select>
<insert id="rolesInsert">
insert
cskaoyan_mall_role
(`name`,`desc`,enabled,add_time,update_time,deleted)
value(#{name},#{desc},#{enabled},NOW(),NOW(),#{deleted})
</insert>
<update id="rolesUpdate"  >
update
cskaoyan_mall_role
set
`name`=#{name},
`desc`=#{desc},
enabled=#{enabled},
add_time=#{addTime},
update_time=NOW(),
deleted=#{deleted}
</update>
<delete id="rolesDelete" >
    delete
    from
    cskaoyan_mall_role
    where id=#{id}
</delete>
<select id="rolesOptions" resultType="com.cskaoyan.bean.RoleOptions">
    SELECT
id as 'value',
name as label
from
cskaoyan_mall_role
</select>
<select id="assignPermissions" resultType="com.cskaoyan.bean.Permission"  >
   SELECT
id,
permission
from
cskaoyan_mall_permission
where role_id=#{def }
</select>
    <resultMap id="systemPermissionsMap" type="com.cskaoyan.bean.LzgPermission">
        <result property="id" column="label"/>
        <result property="label" column="label"/>
        <collection property="children" ofType="com.cskaoyan.bean.Children">
            <result property="id" column="sonlabel"/>
            <result property="label" column="sonlabel"/>
            <collection property="children" ofType="com.cskaoyan.bean.SonPermission">
                <result property="id" column="permission"/>
                <result property="label" column="grandsonlabel"/>

            </collection>
        </collection>
        
    </resultMap>
<select id="systemPermissions" resultMap="systemPermissionsMap"  >
    SELECT

lzg1.label as label,
permission,
lzg2.label as sonlabel,

lzg3.label as grandsonlabel
FROM `lzg_mall_permission` lzg1
left join lzg_mall_permission lzg2 on lzg2.pid=lzg1.id
LEFT JOIN lzg_mall_permission lzg3 on lzg3.pid=lzg2.id
left join cskaoyan_mall_permission  cmp on cmp.id=lzg3.permission_id
where lzg1.type=1
</select>
<select id="storageSearch" resultType="com.cskaoyan.bean.Storage"    >
    SELECT
id,
`key`,
`name`,
type,
size,
url,
add_time as addTime,
update_time as updateTime,
deleted
from
    cskaoyan_mall_storage
    <where>
        <if test="key != null">
            'key' LIKE CONCAT(CONCAT('%', #{key}), '%')
        </if>
        <if test="name != null">
            AND 'name' LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </where>


</select>
<insert id="permissionsInsert">
    insert
    cskaoyan_mall_permission
    (role_id,permission,add_time,update_time) values
    <foreach collection="permissions" separator="," item="permission">
        ( #{roleId},#{permission},now(),now())
    </foreach>
</insert>
    <update id="storageUpdate">
        update
        cskaoyan_mall_storage
        set
        name=#{name}
        where id=#{id}
    </update>
<delete id="storageDelete" >
    delete
    from
    cskaoyan_mall_storage
    where id=#{id}

</delete>
<select id="logSearch" resultType="com.cskaoyan.bean.Log">
    SELECT
id,
admin,
ip,
type,
action,
`status`,
result,
`comment`,
add_time as addTime,
update_time as updateTime,
deleted
from
cskaoyan_mall_log
    <where>

        <if test="name != null">
           'name' LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </where>
</select>
    <insert id="logInsert">
        insert
cskaoyan_mall_log
(admin,ip,type,action,`status`,result,`comment`,add_time,update_time,deleted)
values(#{admin},#{ip},#{type},#{action},#{status},#{result},#{comment},#{addTime},#{updateTime},#{deleted})
    </insert>
 <resultMap id="queryPasswordFromDbMap" type="com.cskaoyan.bean.Admin"   >
     <result column="id" property="id"/>
     <result column="username" property="username"/>
     <result column="password" property="password"/>
     <result column="avatar" property="avatar"/>
     <result column="role_ids" property="roleIds" typeHandler="com.cskaoyan.typeHandler.IntArrayTypeHandler"/>
 </resultMap>
<select id="queryPasswordFromDb" resultMap="queryPasswordFromDbMap" >
SELECT
id,
username,
password,
avatar,
role_ids
from
cskaoyan_mall_admin
where
username =#{def}
</select>
<select id="permissionsSearch" resultType="com.cskaoyan.bean.Permission">
    SELECT
permission
from
cskaoyan_mall_permission
where role_id=
<foreach collection="roleIds" item="id" separator="," open="(" close=")">
    #{id}
</foreach>
</select>
</mapper>