<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.generalize.CouponMapper">

    <resultMap id="couponResult" type="com.cskaoyan.bean.Coupon">
        <result column="id" property="id"/>
        <result column="na" property="name"/>
        <result column="de" property="desc"/>
        <result column="tag" property="tag"/>
        <result column="total" property="total"/>
        <result column="discount" property="discount"/>
        <result column="mmin" property="min"/>
        <result column="lim" property="limit"/>
        <result column="ty" property="type"/>
        <result column="sta" property="status"/>
        <result column="goods_type" property="goodsType"/>
        <result column="goods_value" property="goodsValue" typeHandler="com.cskaoyan.typeHandler.IntArrayTypeHandler"/>
        <result column="co" property="code"/>
        <result column="time_type" property="timeType"/>
        <result column="days" property="days"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="findCouponList" resultMap="couponResult">
        SELECT
        id,
        cskaoyan_mall_coupon.name as na,
        cskaoyan_mall_coupon.desc AS de,
        tag,
        total,
        discount,
        cskaoyan_mall_coupon.min as mmin,
        cskaoyan_mall_coupon.limit as lim,
        cskaoyan_mall_coupon.type as ty,
        cskaoyan_mall_coupon.status as sta,
        goods_type,
        goods_value,
        cskaoyan_mall_coupon.code as co,
        time_type,
        days,
        start_time,
        end_time,
        add_time,
        update_time,
        deleted
        FROM cskaoyan_mall_coupon
        <where>
            <if test="name!=null">
                name like CONCAT(CONCAT('%',#{name}),'%')
            </if>
            <if test="type!=null">
                and type like CONCAT(CONCAT('%',#{type}),'%')
            </if>
            <if test="status!=null">
                and status like CONCAT(CONCAT('%',#{status}),'%')
            </if>
        </where>
    </select>

    <insert id="insertCoupon">
        <selectKey keyProperty="coupon.id" resultType="_int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into cskaoyan_mall_coupon
        (id,
        cskaoyan_mall_coupon.name,
        cskaoyan_mall_coupon.desc,
        tag,
        total,
        discount,
        cskaoyan_mall_coupon.min,
        cskaoyan_mall_coupon.limit,
        cskaoyan_mall_coupon.type,
        cskaoyan_mall_coupon.status,
        goods_type,
        goods_value,
        cskaoyan_mall_coupon.code,
        time_type,
        days,
        start_time,
        end_time,
        add_time,
        update_time,
        deleted)
        values(
                #{coupon.id},
                #{coupon.name},
                #{coupon.desc},
                #{coupon.tag},
                #{coupon.total},
                #{coupon.discount},
                #{coupon.min},
                #{coupon.limit},
                #{coupon.type},
                #{coupon.status},
                #{coupon.goodsType},
                #{coupon.goodsValue, typeHandler=com.cskaoyan.typeHandler.IntArrayTypeHandler},
                #{coupon.code},
                #{coupon.timeType},
                #{coupon.days},
                #{coupon.startTime},
                #{coupon.endTime},
                #{coupon.addTime},
                #{coupon.updateTime},
                #{coupon.deleted}  )
    </insert>

    <select id="readCouponById" resultMap="couponResult">
        select
        id,
        cskaoyan_mall_coupon.name as na,
        cskaoyan_mall_coupon.desc AS de,
        tag,
        total,
        discount,
        cskaoyan_mall_coupon.min as mmin,
        cskaoyan_mall_coupon.limit as lim,
        cskaoyan_mall_coupon.type as ty,
        cskaoyan_mall_coupon.status as sta,
        goods_type,
        goods_value,
        cskaoyan_mall_coupon.code as co,
        time_type,
        days,
        start_time,
        end_time,
        add_time,
        update_time,
        deleted
        FROM cskaoyan_mall_coupon
        where id=#{id}
    </select>

    <resultMap id="couponUser" type="com.cskaoyan.bean.CouponUser">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="coupon_id" property="couponId"/>
        <result column="status" property="status"/>
        <result column="used_time" property="usedTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="order_id" property="orderTime"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="queryUserByCouponId" resultMap="couponUser">
        select
        id,
        user_id,
        coupon_id,
        status,
        used_time,
        start_time,
        end_time,
        order_id,
        add_time,
        update_time,
        deleted
        from cskaoyan_mall_coupon_user
        <where>
            coupon_id=#{id}
            <if test="userId!=null">
                and user_id =#{userId}
            </if>
            <if test="status!=null">
                and status =#{status}
            </if>
        </where>
    </select>

    <select id="queryCouponByAddTime" resultMap="couponResult">
        select
        id,
        cskaoyan_mall_coupon.name as na,
        cskaoyan_mall_coupon.desc AS de,
        tag,
        total,
        discount,
        cskaoyan_mall_coupon.min as mmin,
        cskaoyan_mall_coupon.limit as lim,
        cskaoyan_mall_coupon.type as ty,
        cskaoyan_mall_coupon.status as sta,
        goods_type,
        goods_value,
        cskaoyan_mall_coupon.code as co,
        time_type,
        days,
        start_time,
        end_time,
        add_time,
        update_time,
        deleted
        FROM cskaoyan_mall_coupon
        where add_time =#{date}
    </select>

    <update id="updateCoupon">
        update cskaoyan_mall_coupon
        set
        cskaoyan_mall_coupon.name       =#{coupon.name},
        cskaoyan_mall_coupon.desc       =#{coupon.desc},
        tag                             =#{coupon.tag},
        total                           =#{coupon.total},
        discount                        =#{coupon.discount},
        cskaoyan_mall_coupon.min        =#{coupon.min},
        cskaoyan_mall_coupon.limit      =#{coupon.limit},
        cskaoyan_mall_coupon.type       =#{coupon.type},
        cskaoyan_mall_coupon.status     =#{coupon.status},
        goods_type                      =#{coupon.goodsType},
        goods_value                     =#{coupon.goodsValue ,typeHandler=com.cskaoyan.typeHandler.IntArrayTypeHandler},
        cskaoyan_mall_coupon.code       =#{coupon.code},
        time_type                       =#{coupon.timeType},
        days                            =#{coupon.days},
        start_time                      =#{coupon.startTime},
        end_time                        =#{coupon.endTime},
        add_time                        =#{coupon.addTime},
        update_time                     =#{coupon.updateTime},
        deleted                         =#{coupon.deleted}
        where id = #{coupon.id}
    </update>

    <delete id="deleteCoupon">
        delete from cskaoyan_mall_coupon where id=#{coupon.id}
    </delete>


    <resultMap id="couponMap2" type="com.cskaoyan.bean.Coupon">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="discount" property="discount"/>
        <result column="min" property="min"/>
        <result column="days" property="days"/>
        <result column="desc" property="desc"/>
    </resultMap>
    <select id="queryCoupons" resultMap="couponMap2">
        select
          id,
          name,
          discount,
          min,
          days,
          `desc`
        from cskaoyan_mall_coupon
        where deleted = 0
    </select>

</mapper>