<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.wxCollectZLX.WxCollectZLXMapper">

    <resultMap id="collectMap" type="com.cskaoyan.bean.Collect">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="value_id" property="valueId"/>
        <result column="type" property="type"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <association property="user" select="com.cskaoyan.mapper.userManege.UserMapper.queryUserById" column="user_id"/>
    </resultMap>

    <sql id="baseColumn">
      select
          id,
          user_id,
          value_id,
          type,
          add_time,
          update_time,
          deleted
      from cskaoyan_mall_collect
    </sql>

    <select id="queryCollect" resultMap="collectMap">
        <include refid="baseColumn"/>
        where user_id=#{userId} and deleted = 0
    </select>


    <select id="queryCollectByGoodsId" resultMap="collectMap">
        <include refid="baseColumn"/>
        where user_id=#{userId} and value_id=#{goodsId} and deleted = 0
    </select>

    <update id="updateDeletedFalse">
        UPDATE cskaoyan_mall_collect SET
			deleted=1,
			update_time=#{updateDate}
		  WHERE id=#{collectId}
    </update>


<!--    <update id="updateDeletedTrue">
        UPDATE cskaoyan_mall_collect SET
			deleted=0,
			update_time=#{updateDate},
			add_time=#{updateDate}

		  WHERE id=#{collectId}
    </update>-->
    
    <insert id="addCollect" parameterType="com.cskaoyan.bean.Collect">
        insert into cskaoyan_mall_collect(
          user_id,
          value_id,
          type,
          add_time,
          update_time,
          deleted
        )values (
        #{collect.userId},
        #{collect.valueId},
        #{collect.type},
        #{collect.addTime},
        #{collect.updateTime},
        #{collect.deleted}
        )
    </insert>

</mapper>