<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.mallManege.MallOrderMapper">
    <resultMap id="orderMap" type="com.cskaoyan.bean.Order">
        <result  column="id" property="id"/>
        <result  column="user_id" property="userId"/>
        <result  column="order_sn" property="orderSn"/>
        <result  column="order_status" property="orderStatus"/>
        <result  column="consignee" property="consignee"/>
        <result  column="mobile" property="mobile"/>
        <result  column="address" property="address"/>
        <result  column="message" property="message"/>
        <result  column="goods_price" property="goodsPrice"/>
        <result  column="freight_price" property="freightPrice"/>
        <result  column="coupon_price" property="couponPrice"/>
        <result  column="integral_price" property="integralPrice"/>
        <result  column="groupon_price" property="grouponPrice"/>
        <result  column="order_price" property="orderPrice"/>
        <result  column="actual_price" property="actualPrice"/>
        <result  column="pay_id" property="payId"/>
        <result  column="pay_time" property="payTime"/>
        <result  column="ship_sn" property="shipSn"/>
        <result  column="ship_channel" property="shipChannel"/>
        <result  column="ship_time" property="shipTime"/>
        <result  column="confirm_time" property="confirmTime"/>
        <result  column="comments" property="comments"/>
        <result  column="end_time" property="endTime"/>
        <result  column="oadd_time" property="addTime"/>
        <result  column="oupdate_time" property="updateTime"/>
        <result  column="odeleted" property="deleted"/>
        <association property="user" javaType="com.cskaoyan.bean.User">
            <result column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="gender" property="gender"/>
            <result column="birthday" property="birthday"/>
            <result column="last_login_time" property="lastLoginTime"/>
            <result column="last_login_ip" property="lastLoginIp"/>
            <result column="user_level" property="userLevel"/>
            <result column="nickname" property="nickname"/>
            <result column="mobile" property="mobile"/>
            <result column="avatar" property="avatar"/>
            <result column="weixin_openid" property="weixinOpenid"/>
            <result column="status" property="status"/>
            <result column="add_time" property="addTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
        </association>
    </resultMap>
    <select id="showAllOrder" resultMap="orderMap">
      select
        cskaoyan_mall_order.id,
        cskaoyan_mall_order.user_id,
        cskaoyan_mall_order.order_sn,
        cskaoyan_mall_order.order_status,
        cskaoyan_mall_order.consignee,
        cskaoyan_mall_order.mobile,
        cskaoyan_mall_order.address,
        cskaoyan_mall_order.message,
        cskaoyan_mall_order.goods_price,
        cskaoyan_mall_order.freight_price,
        cskaoyan_mall_order.coupon_price,
        cskaoyan_mall_order.integral_price,
        cskaoyan_mall_order.groupon_price,
        cskaoyan_mall_order.order_price,
        cskaoyan_mall_order.actual_price,
        cskaoyan_mall_order.pay_id,
        cskaoyan_mall_order.pay_time,
        cskaoyan_mall_order.ship_sn,
        cskaoyan_mall_order.ship_channel,
        cskaoyan_mall_order.ship_time,
        cskaoyan_mall_order.confirm_time,
        cskaoyan_mall_order.comments,
        cskaoyan_mall_order.end_time ,
        cskaoyan_mall_order.add_time AS oadd_time,
        cskaoyan_mall_order.update_time AS oupdate_time,
        cskaoyan_mall_order.deleted AS odeleted,

        cskaoyan_mall_user.id,
        cskaoyan_mall_user.username,
        cskaoyan_mall_user.password,
        cskaoyan_mall_user.gender,
        cskaoyan_mall_user.birthday,
        cskaoyan_mall_user.last_login_time,
        cskaoyan_mall_user.last_login_ip,
        cskaoyan_mall_user.user_level,
        cskaoyan_mall_user.nickname,
        cskaoyan_mall_user.mobile,
        cskaoyan_mall_user.avatar,
        cskaoyan_mall_user.weixin_openid,
        cskaoyan_mall_user.status,
        cskaoyan_mall_user.add_time,
        cskaoyan_mall_user.update_time,
        cskaoyan_mall_user.deleted
        from cskaoyan_mall_order
        left join cskaoyan_mall_user
        on cskaoyan_mall_order.user_id=cskaoyan_mall_user.id
    </select>

    <select id="searchOrderByInfo" resultMap="orderMap">
        select
        cskaoyan_mall_order.id,
        cskaoyan_mall_order.user_id,
        cskaoyan_mall_order.order_sn,
        cskaoyan_mall_order.order_status,
        cskaoyan_mall_order.consignee,
        cskaoyan_mall_order.mobile,
        cskaoyan_mall_order.address,
        cskaoyan_mall_order.message,
        cskaoyan_mall_order.goods_price,
        cskaoyan_mall_order.freight_price,
        cskaoyan_mall_order.coupon_price,
        cskaoyan_mall_order.integral_price,
        cskaoyan_mall_order.groupon_price,
        cskaoyan_mall_order.order_price,
        cskaoyan_mall_order.actual_price,
        cskaoyan_mall_order.pay_id,
        cskaoyan_mall_order.pay_time,
        cskaoyan_mall_order.ship_sn,
        cskaoyan_mall_order.ship_channel,
        cskaoyan_mall_order.ship_time,
        cskaoyan_mall_order.confirm_time,
        cskaoyan_mall_order.comments,
        cskaoyan_mall_order.end_time ,
        cskaoyan_mall_order.add_time AS oadd_time,
        cskaoyan_mall_order.update_time AS oupdate_time,
        cskaoyan_mall_order.deleted AS odeleted,

        cskaoyan_mall_user.id,
        cskaoyan_mall_user.username,
        cskaoyan_mall_user.password,
        cskaoyan_mall_user.gender,
        cskaoyan_mall_user.birthday,
        cskaoyan_mall_user.last_login_time,
        cskaoyan_mall_user.last_login_ip,
        cskaoyan_mall_user.user_level,
        cskaoyan_mall_user.nickname,
        cskaoyan_mall_user.mobile,
        cskaoyan_mall_user.avatar,
        cskaoyan_mall_user.weixin_openid,
        cskaoyan_mall_user.status,
        cskaoyan_mall_user.add_time,
        cskaoyan_mall_user.update_time,
        cskaoyan_mall_user.deleted
        from cskaoyan_mall_order
        left join cskaoyan_mall_user
        on cskaoyan_mall_order.user_id=cskaoyan_mall_user.id
        <where>
            <if test="osn!=null">
                cskaoyan_mall_order.order_sn
                LIKE CONCAT(CONCAT('%', #{osn}), '%')
            </if>
            <if test="uid!=null">
                and cskaoyan_mall_order.user_id
                LIKE CONCAT(CONCAT('%', #{uid}), '%')
            </if>
            <if test="status!=null">
                and cskaoyan_mall_order.order_status
                LIKE CONCAT(CONCAT('%', #{status}), '%')
            </if>
        </where>
    </select>
<resultMap id="orderGoodsMap" type="com.cskaoyan.bean.OrderCGoods">
    <result  column="id" property="id"/>
    <result  column="user_id" property="userId"/>
    <result  column="order_sn" property="orderSn"/>
    <result  column="order_status" property="orderStatus"/>
    <result  column="consignee" property="consignee"/>
    <result  column="omobile" property="mobile"/>
    <result  column="address" property="address"/>
    <result  column="message" property="message"/>
    <result  column="goods_price" property="goodsPrice"/>
    <result  column="freight_price" property="freightPrice"/>
    <result  column="coupon_price" property="couponPrice"/>
    <result  column="integral_price" property="integralPrice"/>
    <result  column="groupon_price" property="grouponPrice"/>
    <result  column="order_price" property="orderPrice"/>
    <result  column="actual_price" property="actualPrice"/>
    <result  column="pay_id" property="payId"/>
    <result  column="pay_time" property="payTime"/>
    <result  column="ship_sn" property="shipSn"/>
    <result  column="ship_channel" property="shipChannel"/>
    <result  column="ship_time" property="shipTime"/>
    <result  column="confirm_time" property="confirmTime"/>
    <result  column="comments" property="comments"/>
    <result  column="end_time" property="endTime"/>
    <result  column="oadd_time" property="addTime"/>
    <result  column="oupdate_time" property="updateTime"/>
    <result  column="odeleted" property="deleted"/>
    <association property="user" javaType="com.cskaoyan.bean.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="user_level" property="userLevel"/>
        <result column="nickname" property="nickname"/>
        <result column="mobile" property="mobile"/>
        <result column="avatar" property="avatar"/>
        <result column="weixin_openid" property="weixinOpenid"/>
        <result column="status" property="status"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </association>
    <collection property="orderGoods" ofType="com.cskaoyan.bean.OrderGoods">
        <result column="gid" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="product_id" property="productId"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="specifications" property="specifications"/>
        <result column="pic_url" property="picUrl"/>
        <result column="comment" property="comment"/>
        <result column="gadd_time" property="addTime"/>
        <result column="gupdate_time" property="updateTime"/>
        <result column="gdelete" property="deleted"/>
    </collection>
</resultMap>
    <select id="searchOrderGoods" resultMap="orderGoodsMap">
    select 
        cskaoyan_mall_order.id,
        cskaoyan_mall_order.user_id,
        cskaoyan_mall_order.order_sn,
        cskaoyan_mall_order.order_status,
        cskaoyan_mall_order.consignee,
        cskaoyan_mall_order.mobile as omible,
        cskaoyan_mall_order.address,
        cskaoyan_mall_order.message,
        cskaoyan_mall_order.goods_price,
        cskaoyan_mall_order.freight_price,
        cskaoyan_mall_order.coupon_price,
        cskaoyan_mall_order.integral_price,
        cskaoyan_mall_order.groupon_price,
        cskaoyan_mall_order.order_price,
        cskaoyan_mall_order.actual_price,
        cskaoyan_mall_order.pay_id,
        cskaoyan_mall_order.pay_time,
        cskaoyan_mall_order.ship_sn,
        cskaoyan_mall_order.ship_channel,
        cskaoyan_mall_order.ship_time,
        cskaoyan_mall_order.confirm_time,
        cskaoyan_mall_order.comments,
        cskaoyan_mall_order.end_time ,
        cskaoyan_mall_order.add_time AS oadd_time,
        cskaoyan_mall_order.update_time AS oupdate_time,
        cskaoyan_mall_order.deleted AS odeleted,

		cskaoyan_mall_user.id,
        cskaoyan_mall_user.username,
        cskaoyan_mall_user.password,
        cskaoyan_mall_user.gender,
        cskaoyan_mall_user.birthday,
        cskaoyan_mall_user.last_login_time,
        cskaoyan_mall_user.last_login_ip,
        cskaoyan_mall_user.user_level,
        cskaoyan_mall_user.nickname,
        cskaoyan_mall_user.mobile,
        cskaoyan_mall_user.avatar,
        cskaoyan_mall_user.weixin_openid,
        cskaoyan_mall_user.status,
        cskaoyan_mall_user.add_time,
        cskaoyan_mall_user.update_time,
        cskaoyan_mall_user.deleted,


		cskaoyan_mall_order_goods.id as gid,
        cskaoyan_mall_order_goods.order_id,
        cskaoyan_mall_order_goods.goods_id,
        cskaoyan_mall_order_goods.goods_name,
        cskaoyan_mall_order_goods.goods_sn,
        cskaoyan_mall_order_goods.product_id,
        cskaoyan_mall_order_goods.number,
        cskaoyan_mall_order_goods.price,
        cskaoyan_mall_order_goods.specifications,
        cskaoyan_mall_order_goods.pic_url,
        cskaoyan_mall_order_goods.comment,
        cskaoyan_mall_order_goods.add_time as gadd_time,
        cskaoyan_mall_order_goods.update_time as gupdate_time,
        cskaoyan_mall_order_goods.deleted as gdelete
from cskaoyan_mall_order
left join cskaoyan_mall_user
on cskaoyan_mall_order.user_id=cskaoyan_mall_user.id
left join cskaoyan_mall_order_goods
on cskaoyan_mall_order.id=cskaoyan_mall_order_goods.order_id
where cskaoyan_mall_order.id=#{id}

    </select>
</mapper>















        
        
        
        
        
        
        
        
        
        
        
        
        






























































