<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.goods.GoodsMapper">


    <sql id="baseColumn">
        select
          id,
          goods_sn,
          name,
          category_id,
          brand_id,
          gallery,
          keywords,
          brief,
          is_on_sale,
          sort_order,
          pic_url,
          share_url,
          is_new,
          is_hot,
          unit,
          counter_price,
          retail_price,
          detail,
          add_time,
          update_time,
          deleted
    </sql>

    <resultMap id="goodsMap" type="com.cskaoyan.bean.Goods">
        <result column="id" property="id" />
        <result column="goods_sn" property="goodsSn" />
        <result column="name" property="name" />
        <result column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />

        <result column="gallery" property="gallery" typeHandler="com.cskaoyan.typeHandler.StringToListTypeHandler" />

        <result column="keywords" property="keywords" />
        <result column="brief" property="brief" />
        <result column="is_on_sale" property="isOnSale" />
        <result column="sort_order" property="sortOrder" />
        <result column="pic_url" property="picUrl" />
        <result column="share_url" property="shareUrl" />
        <result column="is_new" property="isNew" />
        <result column="is_hot" property="isHot" />
        <result column="unit" property="unit" />
        <result column="counter_price" property="counterPrice" />
        <result column="retail_price" property="retailPrice" />
        <result column="detail" property="detail" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 根据条件获取 商品列表 -->
    <select id="queryList" resultMap="goodsMap">
        <include refid="baseColumn"/>
        from  cskaoyan_mall_goods
        <where>
            deleted = 0
            <if test="goodsSn != null">
                and goods_sn = #{goodsSn}
            </if>
            <if test="name != null">
                and name like CONCAT('%',#{name},'%')
            </if>
        </where>
        order by add_time desc
        limit #{limit} offset #{offset}
    </select>

    <!-- 根据条件查询 记录数 -->
    <select id="queryTotalRecords" resultType="_int">
        select count(*)
        from cskaoyan_mall_goods
        <where>
            deleted = 0
            <if test="goodsSn != null">
                and goods_sn = #{goodsSn}
            </if>
            <if test="name != null">
                and name like CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>

    <!--根据商品id 获取商品-->
    <select id="queryGoodsById" resultMap="goodsMap">
        <include refid="baseColumn"/>
        from cskaoyan_mall_goods
        where id = #{id}
    </select>



    <!--##############################################################-->
    <resultMap id="goodsAttributeMap" type="com.cskaoyan.bean.GoodsAttribute">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="attribute" property="attribute"/>
        <result column="value" property="value"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!--根据goodsId 查询 商品参数 -->
    <select id="queryGoodsAttributeByGoodsId" resultMap="goodsAttributeMap">
        select
          id,
          goods_id,
          attribute,
          value,
          add_time,
          update_time,
          deleted
        from cskaoyan_mall_goods_attribute
        where goods_id = #{goodsId} and deleted = 0
    </select>

    <!--根据goodsId 查询商品的 类目ID 集合-->
    <select id="queryCategoryIdsByGoodsId" resultType="_int">
        select category.pid
        from cskaoyan_mall_category as category
        where category.id =
        (select goods.category_id
        from cskaoyan_mall_goods as goods
        where goods.id = #{goodsId} and goods.deleted = 0) and category.deleted = 0

        union

        select goods.category_id
        from cskaoyan_mall_goods as goods
        where goods.id = #{goodsId} and goods.deleted = 0
    </select>

    <!--根据goodsId 查询商品的 规格-->
    <resultMap id="goodsSpecificationMap" type="com.cskaoyan.bean.GoodsSpecification">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="specification" property="specification"/>
        <result column="value" property="value"/>
        <result column="pic_url" property="picUrl"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="querySpecificationsByGoodsId" resultMap="goodsSpecificationMap">
        select
          id,
          goods_id,
          specification,
          value,
          pic_url,
          add_time,
          update_time,
          deleted
        from cskaoyan_mall_goods_specification
        where goods_id = #{goodsId} and deleted = 0
    </select>

    <!--根据goodsId 查询 商品的 库存-->
    <resultMap id="goodsProductMap" type="com.cskaoyan.bean.GoodsProduct">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="specifications" property="specifications" typeHandler="com.cskaoyan.typeHandler.StringToListTypeHandler" />
        <result column="number" property="number"/>
        <result column="url" property="url"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="queryProductsByGoodsId" resultMap="goodsProductMap">
        select
          id,
          goods_id,
          specifications,
          price,
          number,
          url,
          add_time,
          update_time,
          deleted
        from cskaoyan_mall_goods_product
        where goods_id = #{goodsId} and deleted = 0
    </select>


    <!--#######################删除商品###################-->
    <!--1.删除attribute-->
    <update id="deleteGoodsAttributesByGoodsId">
        update cskaoyan_mall_goods_attribute
        set deleted = 1
        where goods_id = #{goodsId}
    </update>
    <!--2.删除specification-->
    <update id="deleteGoodsSpecificationsByGoodsId">
        update cskaoyan_mall_goods_specification
        set deleted = 1
        where goods_id = #{goodsId}
    </update>
    <!--3.删除库存-->
    <update id="deleteGoodsProductsByGoodsId">
        update cskaoyan_mall_goods_product
        set deleted = 1
        where goods_id = #{goodsId}
    </update>
    <!--4.删除商品-->
    <update id="deleteGoodsByGoodsId">
        update cskaoyan_mall_goods
        set deleted = 1
        where id = #{goodsId}
    </update>
    <!--#################################################-->


    <!--#####################更新商品###########################-->
    <!--1.更新商品参数-->
    <update id="updateGoodsAttribute">
        update cskaoyan_mall_goods_attribute set
          attribute = #{attribute.attribute},
          value = #{attribute.value},
          update_time = #{attribute.updateTime},
          deleted = 0
        where id = #{attribute.id}
    </update>
    <!--添加商品参数-->
    <insert id="insertGoodsAttribute">
        <selectKey keyProperty="attribute.id" resultType="_int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into cskaoyan_mall_goods_attribute (
            goods_id,
            attribute,
            value,
            add_time,
            update_time,
            deleted
        ) values (
            #{attribute.goodsId},
            #{attribute.attribute},
            #{attribute.value},
            #{attribute.addTime},
            #{attribute.updateTime},
            #{attribute.deleted}
        )
    </insert>

    <!--2.更新商品规格-->
    <update id="updateGoodsSpecification">
        update cskaoyan_mall_goods_specification set
          specification = #{specification.specification},
          value = #{specification.value},
          pic_url = #{specification.picUrl},
          update_time = #{specification.updateTime},
          deleted = 0
        where id = #{specification.id}
    </update>
    <!--添加商品规格-->
    <insert id="insertGoodsSpecification">
        <selectKey keyProperty="specification.id" resultType="_int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into cskaoyan_mall_goods_specification (
        goods_id,
        specification,
        value,
        pic_url,
        add_time,
        update_time,
        deleted
        ) values (
        #{specification.goodsId},
        #{specification.specification},
        #{specification.value},
        #{specification.picUrl},
        #{specification.addTime},
        #{specification.updateTime},
        #{specification.deleted}
        )
    </insert>

    <!--3.更新商品库存-->
    <update id="updateGoodsProduct">
        update cskaoyan_mall_goods_product set
          specifications = #{product.specifications, typeHandler=com.cskaoyan.typeHandler.StringToListTypeHandler},
          price = #{product.price},
          number = #{product.number},
          url = #{product.url},
          update_time = #{product.updateTime},
          deleted = 0
        where id = #{product.id}
    </update>
    <!--添加商品库存-->
    <insert id="insertGoodsProduct">
        <selectKey keyProperty="product.id" resultType="_int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into cskaoyan_mall_goods_product (
        goods_id,
        specifications,
        price,
        number,
        url,
        add_time,
        update_time,
        deleted
        ) values (
        #{product.goodsId},
        #{product.specifications, typeHandler=com.cskaoyan.typeHandler.StringToListTypeHandler},
        #{product.price},
        #{product.number},
        #{product.url},
        #{product.addTime},
        #{product.updateTime},
        #{product.deleted}
        )
    </insert>

    <!--4.更新商品-->
    <update id="updateGoods">
        update cskaoyan_mall_goods set
          goods_sn = #{goods.goodsSn},
          name = #{goods.name},
          category_id = #{goods.categoryId},
          brand_id = #{goods.brandId},
          gallery = #{goods.gallery, typeHandler=com.cskaoyan.typeHandler.StringToListTypeHandler},
          keywords = #{goods.keywords},
          brief = #{goods.brief},
          is_on_sale = #{goods.isOnSale},
          sort_order = #{goods.sortOrder},
          pic_url = #{goods.picUrl},
          share_url = #{goods.shareUrl},
          is_new = #{goods.isNew},
          is_hot = #{goods.isHot},
          unit = #{goods.unit},
          counter_price = #{goods.counterPrice},
          retail_price = #{goods.retailPrice},
          detail = #{goods.detail},
          update_time = #{goods.updateTime},
          deleted = #{goods.deleted}
        where id = #{goods.id}
    </update>

    <!--#######################################################-->

    <!--################## 添加商品 #######################-->

    <insert id="insertGoods">
        <selectKey keyProperty="goods.id" resultType="_int" order="AFTER">
            select last_insert_id()
        </selectKey>

        insert into cskaoyan_mall_goods (
          goods_sn,
          name,
          category_id,
          brand_id,
          gallery,
          keywords,
          brief,
          is_on_sale,
          sort_order,
          pic_url,
          share_url,
          is_new,
          is_hot,
          unit,
          counter_price,
          retail_price,
          detail,
          add_time,
          update_time,
          deleted
        ) values (
          #{goods.goodsSn},
          #{goods.name},
          #{goods.categoryId},
          #{goods.brandId},
          #{goods.gallery, typeHandler=com.cskaoyan.typeHandler.StringToListTypeHandler},
          #{goods.keywords},
          #{goods.brief},
          #{goods.isOnSale},
          #{goods.sortOrder},
          #{goods.picUrl},
          #{goods.shareUrl},
          #{goods.isNew},
          #{goods.isHot},
          #{goods.unit},
          #{goods.counterPrice},
          #{goods.retailPrice},
          #{goods.detail},
          #{goods.addTime},
          #{goods.updateTime},
          #{goods.deleted}
        )
    </insert>

    <!--##################################################-->

    <!--###################### 获取categoryList 和 brandList #################################-->
    <resultMap id="node2Map" type="com.cskaoyan.bean.vo.Node2">
        <result column="id" property="value"/>
        <result column="name" property="label"/>
    </resultMap>
    <select id="queryBrandList" resultMap="node2Map">
        select id, name from cskaoyan_mall_brand
    </select>

    <resultMap id="nodeMap" type="com.cskaoyan.bean.vo.Node">
        <result column="pid" property="value"/>
        <result column="pname" property="label"/>
        <collection property="children" column="pid" select="com.cskaoyan.mapper.goods.GoodsMapper.queryChildrenCategory" />
    </resultMap>
    <select id="queryCategoryList" resultMap="nodeMap">
        select
          cat1.id as pid,
          cat1.name as pname
        from cskaoyan_mall_category as cat1 where cat1.level = 'L1'
    </select>
    <select id="queryChildrenCategory" resultMap="node2Map">
        select
          id,
          name
        from cskaoyan_mall_category where pid = #{pid}
    </select>
    
    
</mapper>